.home-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    margin: 12px 0;
}

a {
    display: block;
    padding: 10px;
    background: #646464;
    color: #3d3d3d;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.2s;
}

a:hover {
    background: #929292;
}
